<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>推送列表</title>
    <link rel="stylesheet" href="../bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <!--<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="../jquery.slim.min.js"></script>
    <script src="../popper.min.js" ></script>
    <script src="../bootstrap.min.js" ></script>
    <!--<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
    <script src="../layer/layer.js"></script>
    <script>
        $(document).ready(function(){
            $("#cb_all").change(function(){
                var c = $(this).is(':checked');
                $("input[name=box]").each(function(){
                    if(c){
                        $(this).prop('checked',true);
                    }else {
                        $(this).prop('checked',false);
                    }
                });
            });

            $("#txtPageSize").keyup(function(){
                if(event.keyCode == 13){
                    var val = $("#txtPageSize").val();
                    var ival = parseInt(val);

                    if(!isNaN(ival)){
                        window.location = "/push/list?pageNo=1&pageSize="+val;
                    } else{
                        alert("不是数字");
                    }
                }
            });

            $('#btnConfirmDel').bind('click',function(){
                if(del_type==0){
                    del(del_id);
                }else {
                    delMutil();
                }
            });



        });
        
        function del(id) {
            var val = $("#txtPageSize").val();
            window.location = "/push/del?pageNo=1&pageSize="+val+"&id="+id;
        }

        var del_type,del_id;

        function preDel(type,id) {
            del_type = type;
            del_id = id;
        }

        function delMutil() {
            var ids='';
            $("input[name=box]").each(function(){
                if($(this).prop('checked')){
                    ids+=$(this).val()+",";
                }
            });

            var val = $("#txtPageSize").val();
            window.location = "/push/del_multi?pageNo=1&pageSize="+val+"&ids="+ids;
        }

        function push(id) {
            var val = $("#txtPageSize").val();
            window.location = "/push/dopush?pageNo="+[[${page.pageNo}]]+"&pageSize="+val+"&id="+id;
        }


        
    </script>

    <script th:inline="javascript">
        var message = [[${message}]];
        if(message)
        layer.msg(message);
    </script>
</head>
<body>

<div class="container">
    <div class="row">

        <div class="col">
            <div class="jumbotron" style="margin-top: 20px;padding: 20px;">
                <h1 class="display-4">推送</h1>
            </div>
        </div>

    </div>
</div>


<div class="container">
    <div class="row">

        <div class="col">

            <button id="mutilDel" type="button" class="btn btn-danger" data-toggle="modal" data-target=".bd-example-modal-sm" th:onclick="'javascript:preDel(1,-1)'" >删除</button>
            <table class="table table-hover table-striped ">
                <thead >
                <tr class="bg-success">
                    <th scope="col"><input id="cb_all" type="checkbox"></th>
                    <th scope="col">#</th>
                    <th scope="col">文件名</th>
                    <th scope="col">上传时间</th>
                    <th scope="col">推送时间</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody >
                <tr th:each="push:${page.data}">
                    <th scope="row">
                        <input name="box" type="checkbox" th:value="${push.id}"  >
                    </th>
                    <th  th:text="${push.id}"></th>
                    <td th:text="${push.originalName}"></td>

                    <td th:if="${push.uploadTime}" th:text="${#dates.format(push.uploadTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:unless="${push.uploadTime}" th:text="-"></td>

                    <td th:if="${push.pushTime}" th:text="${#dates.format(push.pushTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:unless="${push.pushTime}" th:text="'-'"></td>

                    <!--<td th:if="${push.pushTime}" th:text="${#dates.format(push.pushTime, 'yyyy-MM-dd HH:mm:ss')}"></td>-->
                    <!--<td th:unless="${push.pushTime}" th:text="-"></td>-->
                    <td><button type="button" class="btn btn-info" th:onclick="'javascript:push('+${push.id}+')'" >推送</button> &nbsp;&nbsp;<button type="button" data-toggle="modal" data-target=".bd-example-modal-sm" class="btn btn-danger" th:onclick="'javascript:preDel(0,'+${push.id}+')'"  >删除</button></td>
                </tr>
                </tbody>
            </table>

                <nav aria-label="Page navigation  ">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" >每页<input id="txtPageSize" type="text" style="width: 30px"  th:value="${page.pageSize}">  条</a></li>
                        <li><span style="margin-left: 10px;">&nbsp;</span></li>
                        <li class="page-item" th:unless="${page.first}"><a class="page-link" th:href='@{/push/list(pageNo=${page.pageNo-1},pageSize=${page.pageSize})}'   >上一页</a></li>
                        <li class="page-item" th:unless="${page.last}"><a class="page-link" th:href='@{/push/list(pageNo=${page.pageNo+1},pageSize=${page.pageSize})}'>下一页</a></li>
                        <li><span style="margin-left: 10px;">&nbsp;</span></li>
                        <li class="page-item"><a class="page-link" href="#">第<span th:text="${page.pageNo}+'/'+${page.totalPage}+'页'" /></a></li>
                    </ul>
                </nav>

        </div>

    </div>
</div>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">提示</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>确定要删除吗?</p>
            </div>
            <div class="modal-footer">
                <button id="btnConfirmDel" type="button" class="btn btn-primary">删除</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>