<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 引用控制层插件样式 -->

    <link rel="stylesheet" href="../upload/control/css/zyUpload.css" type="text/css">

    <script src="../upload/jquery.min.js"></script>

    <!-- 引用核心层插件 -->

    <script src="../upload/core/zyFile.js"></script>

    <!-- 引用控制层插件 -->

    <script src="../upload/control/js/zyUpload.js"></script>

    <!-- 引用初始化JS -->

    <script src="../upload/core/jq22.js"></script>

</head>

<body>

<h1 style="text-align:center;">PUSH</h1>

<div id="demo" class="demo"></div>

</body>

</html>